:root {
  --white: #ffffff;
  --red: red;
  --yellow500: #ffdd00;
  --blue500: #0f265c;
  --light-grayish-blue: #eaecf2;
  --dark-grayish-blue: #98989c;
  --light-grayish-blue-two: #e6e6e7;
  --grayish-blue: #cacacc;
}
